body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.box {
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 250px;
  width: 100%;
}

.btnbox {
  margin: 20px;
}

.btn {
  border: none;
  color: #132238;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 40px;
  position: relative;
  width: 120px;
}

.button1box {
}

.button1 {
  background-color: transparent;
  border: 1px solid #132238;
  color: none;
  transition: 0.3s ease;
}

.button1:hover {
  animation: glow 2s infinite;
  transition: 0.3s ease;
}

.button1::before {
  content: "";
  border: 1px solid #132238;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

.button1:hover::before {
  animation: glow 2s infinite;
  top: 4px;
  left: 4px;
  transition: 0.3s ease;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 1px 1px #98ccd3;
  }
  50% {
    box-shadow: 0px 0px 1.5px 1.5px #364e68;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #98ccd3;
  }
}

.button2 {
  background-color: #ebf0f6;
  border: 0.5px solid #132238;
  border-radius: 3px;
  color: #132238;
  overflow: hidden;
  transition: 0.5s ease;
}

.button2::before {
  content: "";
  background-color: #ebf0f6;
  border: 0.3px solid #132238;
  height: 86%;
  width: 150px;
  left: -115%;
  position: absolute;
  top: -3px;
  transform: rotateZ(55deg);
  transition: 1s ease;
}

.button2:hover::before {
  transition: 1s ease;
  left: 110%;
}

.button2:hover {
  background-color: #132238;
  color: #ebf0f6;
  border: 0.5px solid #132238;
  transition: 1.2s ease;
}

.button3box {
}

.button3 {
  animation: btn3fontout 2.5s forwards;
  background-color: transparent;
  color: #132238;
}

.button3::before {
  animation: leftsideout 2.5s forwards;
  position: absolute;
  content: "";
  width: 1px;
  border-radius: 50%;
  background-color: #132238;
  height: 1px;
  left: 48%;
  bottom: 0;
  overflow: hidden;
  transform:translateZ(0);
  z-index: -1;
}

.button3::after {
  animation: rightsideout 2.5s forwards;
  bottom: 0;
  position: absolute;
  content: "";
  width: 1px;
  border-radius: 50%;
  background-color: #132238;
  height: 1px;
  right: 48%;
  overflow: hidden;
  transform:translateZ(0);
  z-index: -1;
}

.button3:hover::before {
  animation: leftsidein 2.5s forwards;
}

@keyframes leftsidein {
  0% {
    left: 48%;
  }
  33% {
    height: 1px;
    left: 0%;
    width: 1px;
  }
  67% {
    border-radius: 0;
    height: 100%;
    left: 0%;
    width: 1px;
  }
  100% {
    border-radius: 3px 0 0 3px;
    height: 100%;
    left: 0%;
    width: 50%;
  }
}

@keyframes leftsideout {
  0% {
    border-radius: 3px 0 0 3px;
    height: 100%;
    left: 0%;
    width: 50%;
  }
  33% {
    border-radius: 0;
    height: 100%;
    left: 0%;
    width: 1px;
  }
  67% {
    height: 1px;
    left: 0;
    width: 1px;
  }
  100% {
    left: 48%;
  }
}

.button3:hover::after {
  animation: rightsidein 2.5s forwards;
}

@keyframes rightsidein {
  0% {
    right: 48%;
  }
  33% {
    height: 1px;
    right: 0%;
    width: 1px;
  }
  67% {
    border-radius: 0;
    height: 100%;
    right: 0%;
    width: 1px;
  }
  100% {
    border-radius: 0 3px 3px 0;
    height: 100%;
    right: 0%;
    width: 50%;
  }
}

@keyframes rightsideout {
 0% {
   border-radius: 0 3px 3px 0;
   height: 100%;
   right: 0%;
   width: 50%;
 }
 33% {
   border-radius: 0;
   height: 100%;
   right: 0%;
   width: 1px;
 }
 67% {
   height: 1px;
   right: 0;
   width: 1px;
 }
 100% {
   right: 48%;
 }
}

.button3:hover {
  animation: btn3fontin 2.5s forwards;
}

@keyframes btn3fontin {
  0% {
    color: #132238;
  }
  33% {
    color: #132238;
  }
  67% {
    color: #132238;
  }
  100% {
    color: #ebf0f6;
  }
}

@keyframes btn3fontout {
  0% {
    color: #ebf0f6;
  }
  33% {
    color: #132238;
  }
  67% {
    color: #132238;
  }
  100% {
    color: #132238;
  }
}

.button4 {
  background-color: transparent;
}

.button4::before {
  background-color: #132238;
  content: "";
  top: 50%;
  height: 1.5px;
  width: 1.5px;
  left: 29px;
  border-radius: 50%;
  position: absolute;
  transition: 1.5s ease;
}

.button4:hover::before {
  background-color: rgba(151, 204, 211, 0.33);
  height: 35px;
  width: 35px;
  left: 30px;
  top: 3px;
  transition: 1.5s ease;
}

.button4::after {
  background-color: rgba(151, 204, 211, 0);
  content: "";
  top: 50%;
  height: 15px;
  width: 15px;
  left: 30px;
  border-radius: 50%;
  top: 15px;
  position: absolute;
  transition: 1s ease;
  transition-delay: 0s;
}

.button4:hover::after {
  background-color: rgba(151, 204, 211, 0.33);
  border-radius: none;
  height: 35px;
  width: 35px;
  left: 57px;
  top: 3px;
  transition-delay: 1s;
  width: 35px;
}
